<div style="text-align:right; width:300px; margin: 0 auto;">
  <form action="/restaurants" method="post">
    <div style="margin-bottom: 5px; margin-top: 15px">名稱：<input type="text" placeholder="name" name="name"></div>
    <div style="margin-bottom: 5px;">英文：<input type="text" placeholder="name_en" name="name_en"></div>
    <div style="margin-bottom: 5px;">類別：<input type="text" placeholder="category" name="category"></div>
    <div style="margin-bottom: 5px;">圖片網址：<input type="text" placeholder="http://..." name="image"></div>
    <div style="margin-bottom: 5px;">地址：<input type="text" placeholder="location" name="location"></div>
    <div style="margin-bottom: 5px;">電話：<input type="text" placeholder="phone" name="phone"></div>
    <div style="margin-bottom: 5px;">評分：<input type="text" placeholder="rating" name="rating"></div>
    <div style="margin-bottom: 5px;">簡介：<input type="text" placeholder="description" name="description"></div>
    <button type="submit">Create</button>
  </form>
</div>
