<div style="width:500px; margin: 0 auto;">
  <form action="/restaurants" method="post">
    <div style="display: flex;">
      <div>
        <div class="form-group" style="margin: 15px 20px 30px 0;">
          <label for="name">名稱</label>
          <input type="text" class="form-control" placeholder="name" name="name">
        </div>
        <div class="form-group" style="margin: 0 20px 30px 0;">
          <label for="name_en">英文名稱</label>
          <input type="text" class="form-control" placeholder="name_en" name="name_en">
        </div>
        <div class="form-group" style="margin: 0 20px 30px 0;">
          <label for="category">類別</label>
          <input type="text" class="form-control" placeholder="category" name="category">
        </div>
        <div class="form-group" style="margin: 0 20px 30px 0;">
          <label for="image">圖片網址</label>
          <input type="text" class="form-control" placeholder="http://..." name="image">
        </div>
      </div>      
      <div>
        <div class="form-group" style="margin: 15px 20px 30px 0">
          <label for="location">地址</label>
          <input type="text" class="form-control" placeholder="location" name="location">
        </div>
        <div class="form-group" style="margin: 0 20px 30px 0;">
          <label for="phone">電話</label>
          <input type="text" class="form-control" placeholder="phone" name="phone">
        </div>
        <div class="form-group" style="margin: 0 20px 30px 0;">
          <label for="rating">評分</label>
          <input type="text" class="form-control" placeholder="1 ~ 5" name="rating">
        </div>
        <div class="form-group" style="margin: 0 20px 30px 0;">
          <label for="description">簡介</label>
          <input type="text" class="form-control" placeholder="description" name="description">
        </div>
        <div style="text-align: right; margin-right:20px;">
          <button type="submit" class="btn btn-warning">Create</button>
        </div>
      </div>      
    </div>    
  </form>
</div>
